@media (max-width: 1024px) { 
    .content{
        display: block;
    }
    .title-c{
        font-size: 32px;
        color: #1F91BE;
        font-weight: bold;
        border-bottom: solid 3px #1F91BE;
    }
    .left-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .right-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .side-picture img{
        margin-right: 30px;
    }
    .btn{
        margin-bottom: 100px;
    }
    .inner{
        width: 700px;
        max-width: 100%;
        margin: 0 auto;    
    }
}

@media (max-width: 670px) {
   .header{
        display: block;
   }
   .kizi-wrapper{
    display: block;
    }
    .btn{
        margin: 19px 98px;
    }
    .header-logo{
        color: #1F91BE;
        font-size: 18px;
        font-weight: bold;
        margin: 20px auto 0px 15px;
    }
    .header-list ul{
        display: flex;
        margin: 10px auto 20px 15px;
    }
    .header-list li{
        margin-right: 12px;
    }
    .titele{
        font-size: 22px;
    }
    .kizi p{
        width: 336px;
        margin-top: 20px;
    }
    .kizi .about2{
        margin-top: 40px;
    }
    .news{
        display: block;
    }
    .happen{
        width: 336px;
        padding: 20px 0;
    }
    .news-btn{
        font-size: 14px;
        padding: 13px 39px;
        white-space: nowrap;
    }
    .content{
        display: block;
    }
    .title-c{
        font-size: 22px;
        margin: 10px 0;
    }
    .news-wrapper .titele{
        padding-top: 60px;
    }
    .side-picture img{
        width: 100%;
        margin-bottom: 19px;
    }
    .footer{
        height: 40px;
        width: 100%;
        margin-top: 60px;
    }
    .footer p{
        font-size: 10px;
        text-align: center;
    }
    .left-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .right-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .inner{
        width: 320px;
        max-width: 100%;
        margin: 0 auto;    
    }
}





